# dependencies
node_modules/
.pnp
.pnp.js

# builds
.next/
out/
build/
dist/

# typescript
*.tsbuildinfo
next-env.d.ts

# env (no commitear; usar .env.example como plantilla)
.env
.env.local
.env.*.local
.env.production

# misc
.DS_Store
*.pem
npm-debug.log*
